.panel {
    position: relative;
    padding-top: 90px;
    padding-bottom: 45px;
    min-height: 600px;
}

.sand {
    background-color: #f9f6ef;
    color: #000;
}

.choco {
    background-color: #2f2424;
}

img {
    width: 100%;
}

.box-shadow {
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
}

.section-header {
    text-transform: uppercase;
    font-size: 3em;
}

.flex-container {
    position: absolute;
    bottom: 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .flex-container {
        position: initial;
        flex-wrap: wrap;
    }
}

/* utility */
.no-display {
    display: none;
}

.opacity {
    opacity: 1 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-width {
    width: 0 !important;
}

.bg-grey {
    background-color: #f9f6ef !important;
}

.position-initial {
    position: initial !important;
}

.no-pointer-events {
    pointer-events: none; 
}

.z-index-0 {
    z-index: 0;
}

/* vue animation */
.fade-enter-active, .fade-leave-active {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .7s ease;
}

.slide-fade-leave-active {
    transition: all .8s ease;
}

.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}